page-login {
    input {
        color:black !important;
    }
    #protocol{
        margin-top:0%;
        text-align: center;
        color: rgba(0,0,0,0.7) !important;

    }
    .pbutton{
        color:#515F47;
        text-decoration: underline;;
    }
}
